%a{ href: "/home" } Home Page
&#x20;|
%a{ href: "/submission" } Submit a New Review
&#x20;|
%a{ href: "/page/#{usrname}" } My Page (#{usrname}) 

%h1 USER INFORMATION

%p Username: #{usrname}
%p Name: #{name}
%p Age: #{age}
%p Country: #{country}

%p Ratings: 
- reviews.each do |review|
  %p #{review[:title]} : #{review[:rating]}
